.SignUp__PhoneInput__input {
  display: block;
  width: 100%;
  border: 2px solid white;
  margin-top: 30px;
  padding: 10px 7px;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  outline: none;
}
.SignUp__PhoneInput__input::placeholder {
  color: white;
  font-size: 14px;
  line-height: 26px;
}
.SignUp__PhoneInput__container .special-label {
  display: none;
}
